.heDate {
  font-size: 2rem;
  margin-top: 1%;
}
.background {
  background-image: url("../../../assets/images/dateBackground.jpg");
  min-height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.dateCard {
    border-radius: 10px;
}
.title {
  font-size: 2.2rem;
  margin-bottom: 2%;
}
